body{
    background-color: black;
}    


#margenr{
    border: 5px solid white;
    position: relative;
    height: 10%;
    width: 10%; 
    margin: -40px;
    padding: 13pc;  
    width: 80%;

}

#recuadro{
    background-color: gray;
    margin: 2cm;
    padding: 1rem;
    height: 10cm;
    text-align: center;
}


#cpicture{
    border: 3px solid white;
    border-radius: 50%;
    width: 3cm;
    height: 3cm;
    object-fit: cover;
    text-align: left 20px;
}